footer {
  section {
    display: table;
    width: 100%;
  }

  @include media($tablet) {
    .region--horizontal {
      display: table-row;
      width: 100%;

      .block {
        display: table-cell;
      }
    }
  }
}
