header[role='banner'] .page-header__logo a {
  border-bottom: none;
  display: block;

  &:hover,
  &:focus {
    border-bottom: none;
    background-color: inherit;
  }

  img {
    margin-right: 0;
    display: block;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {

  header[role='banner'] .page-header__logo {
    display:inline-block;
    float: left;
    a img {
      margin: 0 1em 1em 0;
      display: inline;
      float: left;
    }

    .page-header__site-info {
      display: inline;
    }
  }
}

.page-header .site-nav {
  clear: both;
}

header[role='banner'] .page-header__site-info {
  padding-top: .4em;
  h1 {
    font-size: 1em;
  }
  h2 {
    font-size: .8em;
    color: $non-black;
  }
}

header[role='banner'] form {
  float: right;
}

header[role='banner'] form,
header[role='banner'] form div {
  display: inline-block;

  input[type=submit] {
    float: right;
  }
}
