.page-header__branding a {
  border-bottom: none;
  display: block;

  &:hover,
  &:focus {
    border-bottom: none;
    background-color: inherit;
  }
}

.page-header__branding img {
  display: block;
  margin: 0 auto;
  float: none;
}

.region-header {
  display: table;
  width: 100%;
}

.page-header .site-nav {
  clear: both;
}

.page-header__branding {
  padding-top: .4em;
  h1 {
    font-size: 1.4em;
  }
  h2 {
    font-size: 1em;
    color: $non-black;
  }
}

.page-header__site-info {
  text-align: center;
}

.page-header__content form {
  @include button-colours($button-bg-colour, $button-bg-colour--hover, $button-bg-colour--active, $button-text-colour, $button-bg-colour--disabled);
  float: none;
  margin-top: 1.6em;

  [type=submit] {
    float: right;
  }
  [type=text] {
    border-right: 0;
    line-height: 2.16em;
    width: 11em;
  }
}

.page-header__content form,
.page-header__content form div {
  display: inline-block;
}

.page-header__branding,
.page-header__content {
  display: block;
  text-align: center;
}

@include media($tablet) {

  .page-header__content form {
    float: right;

    [type=text] {
      line-height: 1.8em;
      width: 13em;
    }
  }

  .page-header__branding img {
    margin: 0 1em 1em 0;
    float: left;
  }

  .page-header__branding,
  .page-header__content {
    display: table-cell;
    text-align: left;
  }

  .page-header__content {
    vertical-align: middle;
  }

  .page-header__site-info {
    text-align: left;
  }

}

@include media($desktop) {

  .page-header__content form {

    [type=text] {
      width: 20em;
    }
  }
}
