.page-header .site-nav {
  clear: both;
}

.region-header {
  display: table;
  margin-bottom: 1em;
  width: 100%;
}

.page-header__logo,
.page-header__site-info,
.page-header__content {
  display: block;
  text-align: center;
}

.page-header__logo {
  img {
    display: block;
    margin: 0 auto;
  }
}

.page-header__site-info {
  text-align: center;
  margin-top: 0;

  h1 {
    font-size: 1.4em;
    margin-bottom: 0;
  }
  h2 {
    color: $non-black;
    font-size: 1em;
    margin-top: 1em;
  }

  a {
    border-bottom: none;
    display: block;

    &:hover,
    &:focus {
      border-bottom: none;
      background-color: inherit;
    }
  }
}

.page-header__content {
  form,
  form div {
    display: inline-flex;
    white-space: nowrap;
  }

  form {
    float: none;
    margin-top: 1.5em;

    [type=text], [type=submit] {
      border: none;
      margin: 0;

      &:hover {
        background-color: #e1e7eb;
      }
    }

    [type=text] {
      background-color: #f0f3f5;
      line-height: 2em;
      width: 100%;
      border: 2px solid $light-grey;
      border-right: none;

      &:focus {
        border: 2px solid $light-aqua;
        outline: none;
      }
    }

    [type=submit] {
      border: 2px solid $light-grey;
      border-left: none;
    }

    [type=submit] {
      background: #f0f3f5 url("../images/icons/search-navy.svg") center center no-repeat;
      background-size: 20px auto;
      float: right;
      position: relative;
    }
  }
}


@include media($tablet) {
  .page-header__logo,
  .page-header__site-info,
  .page-header__content {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
  }

  .page-header__logo {
    img {
      margin-right: 1em;
      float: left;
    }
  }

  .page-header__site-info {
    padding: 0 1em;
    text-align: left;

    h1 {
      margin: 0 0 .25em 0;
    }

    h2 {
      margin: 0;
    }
  }

  .page-header__content form {
    float: right;
    margin: 0;

    [type=text] {
      line-height: 1.8em;
      width: 10em;
    }
  }
}

@include media($desktop) {
  .page-header__site-info {
    margin-top: 1.5em;
  }

  .page-header__content form {
    @include button-colours($button-bg-colour, $button-bg-colour--hover, $button-bg-colour--active, $button-text-colour, $button-bg-colour--disabled);

    [type=text] {
      width: 15em;
    }

    [type=submit] {
      background-image: none;
      border: none;
    }
  }
}
