.sidebar__left,
.sidebar__right {
  padding-bottom: 1.6em;
}

.page--sidebar-left-right {
  .sidebar__left,
  .sidebar__right {
    @include media($desktop) {
      @include span-columns(4 of 16);
    }
    @include media($tablet) {
      @include span-columns(3 of 12);
    }
  }

  .content-main {
    margin-left: 0;
    margin-right: 0;

    @include media($desktop) {
      @include span-columns(8 of 16);
    }
    @include media($tablet) {
      @include span-columns(6 of 12);
    }
  }
}

.page--sidebar-left {
  .sidebar__left {
    @include media($desktop) {
      @include span-columns(4 of 16);
    }
    @include media($tablet) {
      @include span-columns(3 of 12);
    }
  }

  .content-main {
    @include media($desktop) {
      @include span-columns(12 of 16);
    }
    @include media($tablet) {
      @include span-columns(9 of 12);
    }
  }
}

.page--sidebar-right {
  .sidebar__right {
    @include media($desktop) {
      @include span-columns(4 of 16);
    }
    @include media($tablet) {
      @include span-columns(3 of 12);
    }
  }

  .content-main {
    @include media($desktop) {
      @include span-columns(12 of 16);
    }
    @include media($tablet) {
      @include span-columns(9 of 12);
    }
  }
}

.full-width-page .content-main {
  width: 100% !important;
}
