// @TODO: this is a refactored and extended collection of patterns which
// can be considered for incorporation into the gov.au UI Toolkit

/*
Callouts & warnings

There are 7 classes for drawing the user's attention:

- `.callout`
- `.callout--warning` for warnings
- `.callout--error` for errors
- `.callout--info` for information
- `.callout--success` for success
- `.callout-status` for status

- `.callout--calendar-event` for dates.

You can use these on paragraphs (`<p>`), or on a wrapping element, like a `<div>` or an `<aside>`.

Markup: templates/callouts-examples.html

<details open data-label="callouts-accessibility" aria-expanded="false">
  <summary>Accessibility &amp; browser testing</summary>
  <div class="accordion-panel">
  <strong>Passed</strong>:
    <ul>
      <li>HTML5 validation (<a href="http://validator.github.io/validator/" rel="external">Nu Html Checker</a>)</li>
      <li>WCAG:AA automated (<a href="http://squizlabs.github.io/HTML_CodeSniffer/Standards/WCAG2/" rel="external">HTML_CodeSniffer</a>)</li>
    </ul>
  <strong>Untested</strong>:
    <ul>
      <li>WCAG:AA manual</li>
      <li>Browser support &mdash; automated and manual</li>
    </ul>
  </div>
</details>

Style guide: Typography.7 Callouts & warnings
*/

%base-callout {
  margin: $base-spacing $small-spacing;
  padding: $medium-spacing $medium-spacing $medium-spacing $base-spacing;
  border-radius: $tiny-border-radius;
  box-shadow: 0 0 8px $light-grey;
}

.callout {
  @extend %base-callout;
}

[class^='callout--'],
[class*=' callout--'] {
  @extend %base-callout;

  padding-left: $base-spacing - $tiny-spacing;
}

.callout--warning {
  border-left: $tiny-spacing solid $warning-colour;
}

.callout--info {
  border-left: $tiny-spacing solid $info-colour;
}

.callout--error {
  border-left: $tiny-spacing solid $error-colour;
}

.callout--success,
.callout--status {
  border-left: $tiny-spacing solid $success-colour;
}

.callout--calendar-event {
  margin-left: 0;
  box-shadow: none;
  padding-bottom: $small-spacing;
  background-color: $callout-bg-light-colour;
}
