// Debug
$visual-grid: false !default;
$visual-grid-index: front !default;
$visual-grid-opacity: 0.2 !default;

// UI kit override image path
$gov-ui-kit-image-base-url: '../../uikit_base/images/' !default;
