/**
 * @file
 * Stylesheet for the Contextual module.
 */

/**
 * Contextual links regions.
 */

 // @TODO - unfortunate but necessary. This might break other stuff and will need to be tested but it seems to be the only way to ensure the contextual container's height fits all the content :(

 .js .nav-collapse {
   overflow: visible;
 }

html.js footer[role='contentinfo'],
html.js header[role='banner'],
html.js main {
  div.contextual-links-wrapper {
    display: block;
  }

 }

 footer[role='contentinfo'],
 header[role='banner'],
 main {

  a.contextual-links-trigger {
    background: transparent url(../images/gear-select.png) no-repeat 2px 0;
  }

  div.contextual-links-wrapper ul.contextual-links {
    width: auto;
    height: auto;
  }

  a.contextual-links-trigger-active,
  div.contextual-links-active a.contextual-links-trigger,
  div.contextual-links-active ul.contextual-links {
    display: block;
  }

  .site-nav__wrapper div.contextual-links-wrapper,
  .site-nav__wrapper div.contextual-links-wrapper li a,
  div.contextual-links-wrapper ul.contextual-links {
      font-size: $small-font-size;
      font-weight: normal;
  }

}
