/**
 * @file
 * Stylesheet for the Contextual module.
 */

/**
 * Contextual links regions.
 */

// @TODO - unfortunate but necessary. This might break other stuff and will
// need to be tested but it seems to be the only way to ensure the contextual
// container's height fits all the content :(

.js .nav-collapse {
  overflow: visible;
}

html.js footer[role='contentinfo'],
html.js header[role='banner'],
html.js main {
  div.contextual-links-wrapper {
    display: block;
  }
}

@include media($tablet) {
  footer[role='contentinfo'] .footer-top nav div.contextual-links-wrapper ul.contextual-links {
    display: none;
  }
}

footer[role='contentinfo'],
header[role='banner'],
main {
  a.contextual-links-trigger {
    background: transparent url(/modules/contextual/images/gear-select.png) no-repeat 2px 0;
  }

  div.contextual-links-wrapper ul.contextual-links {
    width: auto;
    height: auto;
  }

  a.contextual-links-trigger-active,
  div.contextual-links-active a.contextual-links-trigger,
  div.contextual-links-active ul.contextual-links {
    display: block;
  }

  @include media($tablet) {
    .site-nav__wrapper .contextual-links li a {
      border-bottom: none;
    }
  }

  .site-nav__wrapper .contextual-links li a,
  ul.contextual-links li a {
    font-size: $small-font-size !important;
    font-weight: normal !important;
    border: none !important;
    color: #333 !important;
    border-bottom: solid 1px #5bcbe3 !important;

    &:hover,
    &:focus {
      background-color: #bfdcee !important;
    }
  }
}
